
# Node.js

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Environment variables

.env
.env.*
!.env.example


# Build outputs

dist/
build/
coverage/


# Expo / React Native

.expo/
.expo-shared/
web-build/
android/
ios/


# Logs

logs/
*.log
*.swp
*.swo


# VS Code

.vscode/


# OS files

.DS_Store
Thumbs.db


# PostgreSQL

*.sql
backend/src/generated
